body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #2b5eab, black);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.cloud, .cloud2, .cloud3, .cloud4 {
  border: solid 1px #ffffff;
  background: #ffffff;
  filter: drop-shadow(5px 5px 20px #ffffff) invert(1%);
}

.cloud {
  position: relative;
  width: 320px;
  height: 100px;
  border-radius: 80px;
  margin-top: 150px;
  z-index: 200; 
}

.cloud2 {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  bottom: 0;
  left: 30px;
}

.cloud3 {
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  bottom: 0;
  right: 30px;
}

.letters {
  position: absolute;
  z-index: -300;
  bottom: 0;
  margin: 0;
  padding: 0;
  animation: fall 1s linear infinite;
}

@keyframes fall {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(400px);
  }
}

.cloud4 {
  width: 320px;
  height: 100px;
  border-radius: 80px;
}

.stars {
  position: absolute;
  transition: 1s;
}

form {
  position: absolute;
  width: 500px;
  height: 500px;
  border: solid 1px gray;
  background: linear-gradient(0deg, #8098ff, #ffffff);
  opacity: 0.8; 
  margin: auto;
  left: 0;
  right: 0;
  bottom: 40px;
  z-index: 200;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 20px;
}

input {
  height: 30px;
  opacity: 1;
  background: transparent;
  border: none;
  border-bottom: solid 1px;
}

.photo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: auto; 
  border-radius: 50%;
  border: solid 1px;
  background-image: url(Lloyd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn {
  border: solid 1px;
  background: linear-gradient(0deg, #8098ff, #ffffff);
}
